# Fichiers et dossiers de projet spécifiques
**/.ipynb_checkpoints/
**/.devcontainer/
**/archives/
**/images/
**/mlflow_model/
**/mlruns
**/tests_unitaires_doc

# Exclure tous les fichiers CSV
**/*.csv

# Sauf ce fichier spécifique
!reconstituted_test_sampled.csv

**/*.xlsx
**/*.docx
**/*.pdf
**/*.pptx
**/*.png