# Fichiers et dossiers de projet spécifiques
**/.ipynb_checkpoints/
**/.devcontainer/
**/archives/
**/images/
**/mlflow_model/
**/mlruns
**/tests_unitaires_doc

# Exclure tous les fichiers CSV
**/*.csv

# Sauf ce fichier spécifique
!reconstituted_test_sampled.csv
!global_feature_importance.csv
!application_test_sampled.csv

**/*.xlsx
**/*.docx
**/*.pdf
**/*.pptx
**/*.html

# Exclure les notebooks spécifiques
**/Concat_all_NB.ipynb
**/to_merge.ipynb