# Fichiers de configuration et caches
**/.anaconda/
**/.conda/
**/.condarc
**/.continuum/
**/.docker/
**/.ipython/
**/.jupyter/
**/.keras/
**/.matplotlib/
**/.spyder-py3/
**/.cache/
**/AppData/
**/Local Settings/
**/Cookies/
**/NTUSER.*
**/ntuser.ini
**/ntuser.dat.LOG*

# Dossiers système Windows
/Application Data/
/Cookies/
/Local Settings/
/Menu Démarrer/
/Mes documents/
/Modèles/
/Recent/
/SendTo/
/Voisinage d'impression/
/Voisinage réseau/

# Autres dossiers et fichiers spécifiques
/Documents/
/Downloads/
/Favorites/
/Links/
/Music/
/OneDrive/
/Saved Games/
/Searches/
/Videos/

# Fichiers et dossiers de projet spécifiques
**/.ipynb_checkpoints/

# Exclure tous les fichiers CSV
**/*.csv

# Sauf ce fichier spécifique
!reconstituted_test.csv

**/*.xlsx
**/*.docx
**/*.pdf
**/*.pptx
**/*.html